---
import Stats from "../components/stats.jsx";
import Layout from "../layouts/layout.astro";

const socialLinks = [
    { href: "#", label: "Github", icon: "/github.svg" },
    { href: "#", label: "Linkedin", icon: "/linkedin.svg" },
];
---

<Layout>
    <section id="about" class="my-32 relative flex items-center lg:ml-80">
        <div class="px-10">
            <div class="px-2 md:pl-12">
                <div class="mb-8">
                    <span
                        class="inline-block bg-linear-to-br from-80% from-accent to-heading text-contrast py-2 px-6 rounded-4xl text-sm font-semibold tracking-wider mb-6"
                    >
                        About Me
                    </span>
                    <h2 class="text-3xl sm:text-4xl font-bold leading-10 m-0">
                        Crafting modern web applications with Python and
                        JavaScript using the Django framework. I'm a passionate
                        software developer with a strong background in computer
                        science and a love for problem-solving.
                    </h2>
                </div>

                <div class="mb-10">
                    <p class="text-lg leading-7 text-default/80 mb-6">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Cumque, voluptatum reprehenderit numquam id minus
                        distinctio accusamus recusandae illum, sint impedit, aut
                        et. Deleniti magnam doloremque tempore mollitia iure
                        accusantium? Ut.
                    </p>
                    <p class="text-lg leading-7 text-default/80 mb-6">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quisquam consequatur ea saepe tenetur aliquam. Minima
                        ratione quos explicabo. Ex excepturi voluptatibus totam
                        nisi perspiciatis quae. Tempora repellat dolores
                        necessitatibus. Facere!
                    </p>
                    <p class="text-lg leading-7 text-default/80 mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Quis quae ex vel, iste dolore numquam porro! Nobis
                        autem eaque aperiam non reiciendis animi rerum,
                        incidunt, dignissimos aliquid magni ducimus officiis!
                    </p>
                </div>

                <div
                    class="grid-cols-1 gap-6 text-center sm:text-left sm:grid-cols-3 sm:gap-8 mb-10 p-8 bg-surface rounded-3xl shadow-lg shadow-[#00000040]"
                >
                    <div class="text-center">
                        <div class="text-4xl font-bold text-accent block mb-2">
                            20
                        </div>
                        <div class="text-sm text-default/60 font-medium">
                            Cursos realizados
                        </div>
                    </div>
                </div>

                <div class="mb-10">
                    <div class="grid grid-cols-1 gap-4 sm:gap-8 mb-6">
                        <div class="">
                            <span
                                class="block text-sm text-default/50 mb-2 font-medium"
                            >
                                Education
                            </span>
                            <span
                                class="block font-semibold text-heading text-lg"
                            >
                                Computer Science
                            </span>
                        </div>
                    </div>
                </div>

                <div class="flex gap-4 flex-wrap">
                    <a
                        href="#"
                        class="py-3.5 px-8 rounded-xl font-semibold duration-300 inline-flex items-center gap-2 border-2 border-transparent hover:border-accent bg-accent text-contrast hover:bg-neutral-800 hover:text-accent hover:-translate-y-0.5 hover:shadow-xl hover:shadow-accent/40"
                    >
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
    <Stats client:idle />
</Layout>
