---
import Layout from "../layouts/layout.astro";
import About from "../components/about.astro";
import Background from "../components/background.astro";
import Home from "../components/home.astro";
import Stats from "../components/stats.jsx";
import Skills from "../components/skills.jsx";
import Portfolio from "../components/portfolio.astro";
---

<Layout>
    <div class="lg:ml-80 mb-4">
        <Background />
        <Home />
        <About />
        <Stats client:visible />
        <Skills client:visible />
        <Portfolio />
    </div>
</Layout>
