---
import Layout from "../layouts/layout.astro";
import About from "../components/about.astro";
import Background from "../components/background.astro";
import Home from "../components/home.astro";
import Stats from "../components/stats.jsx";
---

<Layout>
    <div class="lg:ml-80">
        <Background />
        <Home />
        <About />
        <Stats client:idle />
    </div>
</Layout>
