---

---

<section id="About" class="my-32 relative flex items-center">
    <div class="px-10">
        <div class="">
            <div class="mb-8">
                <span
                    class="inline-block bg-linear-to-br from-accent/80 to-accent/50 text-contrast py-2 px-6 rounded-4xl text-sm font-semibold tracking-wider mb-4"
                >
                    About Me
                </span>
                <h2 class="text-3xl sm:text-4xl font-bold leading-10 m-0">
                    I’m a passionate student developer, exploring frontend and
                    backend development, data analysis, machine learning, and
                    game development.
                </h2>
            </div>

            <div class="mb-10">
                <p class="text-lg leading-7 text-default/80 mb-6">
                    I’m currently exploring different areas of software
                    development, including programming with Python and
                    JavaScript, experimenting with frontend and backend
                    projects, diving into data analysis and machine learning
                    concepts, and learning the basics of game development. I
                    enjoy building small projects to apply what I learn and
                    gradually gain practical experience across multiple fields
                </p>
                <p class="text-lg leading-7 text-default/80 mb-6">
                    I enjoy applying programming and problem-solving skills to
                    create practical solutions and innovative projects.
                </p>
                <p class="text-lg leading-7 text-default/80 mb-0">
                    My goal is to gain hands-on experience in software
                    development while expanding my knowledge in data analysis
                    and machine learning.
                </p>
            </div>

            <div
                class="flex flex-wrap justify-center gap-6 mb-10 p-8 bg-surface rounded-3xl shadow-lg shadow-[#00000040]"
            >
                <div class="text-center flex-1 min-w-[200px]">
                    <div
                        class="text-4xl font-bold text-accent block mb-2 animate-bounce"
                    >
                        20+
                    </div>
                    <div class="text-sm text-default/60 font-medium">
                        Technologies explored
                    </div>
                </div>

                <div class="text-center flex-1 min-w-[200px]">
                    <div
                        class="text-4xl font-bold text-accent block mb-2 animate-bounce"
                    >
                        5
                    </div>
                    <div class="text-sm text-default/60 font-medium">
                        Personal Projects
                    </div>
                </div>
                <div class="text-center flex-1 min-w-[200px]">
                    <div
                        class="text-4xl font-bold text-accent block mb-2 animate-bounce"
                    >
                        ∞
                    </div>
                    <div class="text-sm text-default/60 font-medium">
                        Skill Growth
                    </div>
                </div>
            </div>

            <div class="mb-10">
                <div
                    class="grid grid-cols-1 text-center sm:text-start sm:grid-cols-2 gap-4 sm:gap-8 mb-6"
                >
                    <div class="">
                        <span
                            class="block text-sm text-default/50 mb-2 font-medium"
                        >
                            Education
                        </span>
                        <span class="block font-semibold text-heading text-lg">
                            Computer Science
                        </span>
                    </div>
                    <div class="">
                        <span
                            class="block text-sm text-default/50 mb-2 font-medium"
                        >
                            Experience Level
                        </span>
                        <span class="block font-semibold text-heading text-lg">
                            Intermediate
                        </span>
                    </div>
                    <div class="">
                        <span
                            class="block text-sm text-default/50 mb-2 font-medium"
                        >
                            Languages
                        </span>
                        <span class="block font-semibold text-heading text-lg">
                            Spanish, English
                        </span>
                    </div>
                </div>
            </div>

            <div class="flex gap-4 flex-wrap justify-center sm:justify-start">
                <div class="relative group">
                    <span
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-32 h-full animate-ping group-hover:hidden group-hover:animate-none rounded-xl bg-accent opacity-75"
                    ></span>
                    <a
                        href="#"
                        class="relative py-3.5 px-8 rounded-xl font-semibold duration-300 inline-flex items-center gap-2 border-2 border-transparent hover:border-accent bg-accent text-contrast hover:bg-neutral-800 hover:text-accent hover:-translate-y-0.5 hover:shadow-xl hover:shadow-accent/40"
                    >
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
