---

---

<div class="fixed inset-0 z-0 overflow-hidden">
    <div
        class="absolute rounded-full bg-linear-to-br from-accent/10 to-accent/5 animate-[float_6s_ease-in-out_infinite] w-48 h-48 md:w-72 md:h-72 top-[10%] right-[10%]"
    >
    </div>
    <div
        class="absolute rounded-full bg-linear-to-br from-accent/10 to-accent/5 animate-[float_6s_ease-in-out_infinite] w-36 h-36 md:w-50 md:h-50 bottom-1/5 left-[5%] [animation-delay:2s]"
    >
    </div>
    <div
        class="absolute rounded-full bg-linear-to-br from-accent/10 to-accent/5 animate-[float_6s_ease-in-out_infinite] w-24 md:w-50 md:h-50 bottom-[10%] left-1/2 [animation-delay:2s]"
    >
    </div>
</div>
