---
import Icon from "./icon.astro";

const socialLinks = [
    { href: "#", label: "Github", icon: "/github.svg" },
    { href: "#", label: "Linkedin", icon: "/linkedin.svg" },
];
---

<section
    id="Home"
    class="min-h-screen relative overflow-hidden flex items-center"
>
    <div class="relative w-full z-10">
        <div class="flex flex-row items-center justify-around w-full flex-wrap">
            <div class="hero-text text-center lg:text-left">
                <h1
                    class="text-5xl md:text-6xl lg:text-7xl font-bold leading-[1.1] mb-4 text-heading"
                >
                    Dev <span
                        class="text-accent relative after:absolute after:-bottom-1 after:left-0 after:w-full after:h-1 after:bg-linear-to-t after:from-accent after:to-accent/50"
                    >
                        Portfolio</span
                    >
                </h1>
                <h2 class="text-2xl md:text-3xl text-heading mt-8 mx-0 mb-3">
                    Yair Jeri
                </h2>
                <p class="text-2xl mb-5 text-default">
                    <span> I'm </span>
                    <span id="typed-container" class="border-accent pb-0.5"
                        ><span
                            id="typed"
                            class="text-accent font-semibold border-accent whitespace-nowrap overflow-hidden border-r-2 typing"
                        ></span>
                    </span>
                </p>
                <p
                    class="text-base md:text-xl leading-[1.6] text-default/80 mb-10 max-w-[500px] mx-auto lg:mx-0"
                >
                    Student developer with experience building projects in
                    frontend and backend development, data analysis, machine
                    learning, and game development. Skilled in applying
                    programming and problem-solving to practical projects.
                </p>

                <div class="flex flex-wrap gap-5 w-fit mb-10 mx-auto lg:mx-0">
                    <a
                        href="#portfolio"
                        class="py-3 px-6 text-sm md:py-4 md:px-8 md:text-lg font-semibold rounded-4xl border-2 hover:border-transparent duration-300 ease-in bg-accent text-contrast border-accent hover:bg-neutral-900 hover:-translate-y-0.5 hover:text-accent"
                        >View My Projects</a
                    >
                    <a
                        href="#contact"
                        class="py-3 px-6 text-sm md:py-4 md:px-8 md:text-lg font-semibold rounded-4xl border-2 duration-300 ease-in bg-transparent text-accent border-accent hover:bg-accent hover:text-contrast hover:-translate-y-0.5"
                        >Contact Me</a
                    >
                </div>

                <div class="flex gap-5 mx-auto w-fit lg:mx-0">
                    {
                        socialLinks.map((item, index) => (
                            <a
                                href={item.href}
                                class="group flex items-center
                                justify-center w-12 h-12 my-0 mx-0.5 text-lg
                                 text-default/60 rounded-4xl bg-surface duration-300
                                 hover:bg-accent hover:-translate-y-1"
                            >
                                <Icon
                                    src={item.icon}
                                    class="w-8 h-8 group-hover:text-contrast"
                                />
                            </a>
                        ))
                    }
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="relative w-72 h-72 md:w-80 md:h-80 lg:w-96 lg:h-96">
                    <div
                        class="absolute inset-4 bg-accent/10 rounded-4xl z-0 overflow-hidden"
                    >
                        <img
                            src="/photo.jpg"
                            class="relative w-full h-full object-cover rounded-4xl z-10 transform scale-120"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .typing {
        animation: blink 0.8s step-end infinite alternate;
    }
</style>

<script type="module">
    const el = document.getElementById("typed");
    const container = document.getElementById("typed-container");
    const roles = [
        "Frontend Developer.",
        "Backend Developer.",
        "Python Developer.",
        "Data Analyst.",
        "Data Scientist.",
        "Machine Learning Engineer.",
        "Game Developer.",
        "Network Engineer.",
    ];

    const typingSpeed = 100;
    const deletingSpeed = 50;
    const pauseTime = 1000;

    const wait = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

    async function typeWriter() {
        let index = 0;

        while (true) {
            const text = roles[index];

            await wait(pauseTime);
            // Escribir
            for (let i = 1; i <= text.length; i++) {
                el.textContent = text.slice(0, i);
                container.classList.add("border-b-2");
                await wait(typingSpeed);
            }

            await wait(pauseTime);

            // Borrar letra por letra
            for (let i = text.length; i > 0; i--) {
                el.textContent = text.slice(0, i - 1) || "\u200B"; // zero-width space
                await wait(deletingSpeed);
            }

            // Cuando termina de borrar, mantenemos zero-width space para que no colapse
            el.textContent = "\u200B";
            container.classList.remove("border-b-2");

            index = (index + 1) % roles.length;
        }
    }

    typeWriter();
</script>
