---

---

<div
    class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline prose-invert max-w-none text-default/90 prose-headings:text-heading prose-strong:text-heading prose-a:text-accent hover:prose-a:text-indigo-400"
>
    <slot />
</div>
