---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
import ThreeBackground from "../components/background_three.jsx";
import Shade from "../components/shade.astro";
import type { Translations } from "../i18n/en";

export interface Props {
	title?: string;
	lang: string;
	t: Translations;
}

const { lang, t, title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bg text-default font-default h-full w-full">
		<ThreeBackground client:load />
		<Navbar lang={lang} t={t} />
		<Shade />
		<div class="lg:ml-72 mb-4">
			<div class="px-10 max-w-[1300px] flex flex-col mx-auto gap-16">
				<slot />
			</div>
		</div>
	</body>
</html>
